@model FAR.Models.Carrito

@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">
<section class="content-header">
<div class="col-12 col-md-12">
<h1>Crear</h1>
<br />
<h4>Carrito</h4>
<hr />
</div>
</section>
<section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id_Carrito" class="control-label"></label>
                <input asp-for="Id_Carrito" class="form-control" />
                <span asp-validation-for="Id_Carrito" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Folio" class="control-label"></label>
                <input asp-for="Folio" class="form-control" />
                <span asp-validation-for="Folio" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cancelado" /> @Html.DisplayNameFor(model => model.Cancelado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Total_venta" class="control-label"></label>
                <input asp-for="Total_venta" class="form-control" />
                <span asp-validation-for="Total_venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
</section>
<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>-->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
