@using FAR.DTOs
@model FAR.Models.Productos

@{
    ViewData["Title"] = "Create";
    //ViewData["lista"] = lista;
    //ViewData["productos"] = querie.Productos();
    //var lista = (List<ProductoDTO>) ViewData["lista"];
    //var productos = ViewData["productos"];
}

<div class="content-wrapper">
<section class="content-header">
<div class="col-12 col-md-12">
<h1>Agregar</h1>
<br />
<h4>Producto</h4>
<hr />
</div>
</section>
@using Microsoft.AspNetCore.Http
    @{
        //Algo para esto
        //var Id_Usuario = HttpContext.Session.GetInt32("Id_Usuario");
    }
<section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="Id_Producto" class="control-label">Id</label>
                <input name="Id_Usuario" class="form-control" type="hidden"/>
                <span asp-validation-for="Id_Producto" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Id_Categoria" class="control-label">Categoria</label>
                <input asp-for="Id_Categoria" class="form-control" />
                <span asp-validation-for="Id_Categoria" class="text-danger"></span>
             </div>
              <div class="form-group">
               <input asp-for="Id_Usuario" class="form-control" hidden/>
                <span asp-validation-for="Id_Usuario" class="text-danger"></span>
             </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" style="float:right;"/>
            </div>
        </form>
    </div>
</div>
</div>
</section>

<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>-->

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
